* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  transition: all 0.2s ease-in;
}

.menu_shadow_active {
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.mobile_menu {
  padding-top: 40px;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  position: fixed;
  right: -400px;
  top: 0;
  z-index: 1000000000;
  background: #55b7ff;
  background: -moz-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  background: -webkit-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  transition: all 0.3s ease-in;
}
.mobile_menu .mobile_menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.mobile_menu .mobile_menu_body {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.mobile_menu .mobile_menu_body li {
  display: flex;
  border-bottom: 2px solid #fff;
  width: 100%;
  justify-content: flex-end;
}
.mobile_menu .mobile_menu_body li a {
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Gothan";
  font-weight: 500;
  padding: 8px 0;
  color: #fff;
}
.mobile_menu .mobile_menu_body :hover {
  background-color: royalblue;
}

.mobile_menu_active {
  right: 0;
}

.img_galery {
  position: relative;
}
.img_galery::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/img/360.png");
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.img_galery:hover::before {
  transition: all 0.2s ease-in;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.h2 {
  text-transform: uppercase;
  font-size: 44px;
  font-family: "Gothan";
  font-weight: 600;
  position: relative;
  text-align: center;
}
.h2::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.h2_black {
  color: #2c4058;
}
.h2_black::before {
  background-color: #2c4058;
}

.h2_white {
  color: #fff;
}
.h2_white::before {
  background-color: #fff;
}

.button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: #2c4058;
  border: 1px solid #2c4058;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 40px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  letter-spacing: 0.5px;
}
.button:hover {
  color: #fff;
  background-color: #2c4058;
  transition: all 0.2s ease-in;
}

header {
  height: 160px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease-in;
  position: fixed;
  backdrop-filter: blur(3px);
}

.fixed {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
}
.fixed .logo_img {
  height: 40px;
  transition: all 0.2s ease-in;
}

.compresed_buttons_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc_list_compresed {
  width: 40px;
  height: 40px;
  border: 1px solid #ad99fc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
  display: none;
  position: relative;
  transition: all 0.1s ease-in;
  z-index: 10;
}
.soc_list_compresed .li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}
.soc_list_compresed .li img {
  height: 8px;
}
.soc_list_compresed .soc_list_compresed_in {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 0;
  overflow: hidden;
  border: 1px solid #ad99fc;
  border-radius: 12px;
  position: absolute;
  left: -1px;
  top: -1px;
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.4s ease-in;
  z-index: -1;
}
.soc_list_compresed .soc_list_compresed_in a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  margin-bottom: 10px;
}
.soc_list_compresed .soc_list_compresed_in a img {
  height: 16px;
  fill: #fff;
}
.soc_list_compresed .soc_list_compresed_in a:hover {
  border: 3px solid #ad99fc;
}
.soc_list_compresed .uncompresed {
  height: 170px;
}

.uncompresed_active {
  border: 1px solid transparent;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  font-family: "Gothan";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: calc(23% - 15px);
}
.header nav {
  width: calc(60% - 30px);
}
.header nav .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header nav .nav li {
  margin-left: 40px;
  display: inline-block;
}
.header nav .nav li a {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #fff;
}
.header nav .nav li a::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: 1px;
}
.header nav .nav li .active::before {
  background-color: #fff;
}
.header .socials_list {
  width: calc(15% - 15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .socials_list li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.header .socials_list li img {
  height: 16px;
  fill: #fff;
}
.header .socials_list li:hover {
  border: 3px solid #ad99fc;
}

#humburger_header {
  display: none;
}

.promo_section .lSSlideOuter .lSPager {
  position: absolute;
  right: 0;
  top: 50%;
}
.promo_section .lSSlideOuter .lSPager li {
  display: block;
}
.promo_section .lSSlideOuter .lSpg li {
  display: block;
}

.promo_section {
  position: relative;
}

.slider_big {
  height: 800px;
  background-color: rgba(0, 0, 0, 0.3);
}
.slider_big .slide_element {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100vh !important;
  font-family: "Gothan";
  flex-direction: column;
  padding-top: 349px;
  background-image: url(../images/img/slider_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider_big .slide_element .h_title {
  display: block;
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 19px;
  letter-spacing: 4px;
}
.slider_big .slide_element .h_subtitle {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.slide_down_button {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 0);
}
.slide_down_button .slide_down {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccddfb;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.slide_down_button .slide_down::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 16px;
  top: 15px;
  transform: rotate(-45deg);
}
.slide_down_button .slide_down:hover {
  background-color: #ccddfb;
}

.lSSlideOuter .lSpg li a {
  display: block !important;
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  margin-bottom: 40px !important;
  border: 1px solid #fff !important;
}
.lSSlideOuter .lSpg li:hover {
  transform: scale(1.1) !important;
}

.lSSlideOuter .lSpg .active a {
  background-color: #fff !important;
}

.what_we_do_section {
  background-color: #fff;
  padding-top: 130px;
  overflow: hidden;
}

.what_we_do_section_main {
  padding-top: 128px;
}
.what_we_do_section_main h2 {
  padding-bottom: 160px;
}
.what_we_do_section_main .content {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 210px;
}
.what_we_do_section_main .content .content_img {
  display: inline-block;
  width: 54%;
  position: relative;
  z-index: 2;
}
.what_we_do_section_main .content .content_img .sq {
  position: absolute;
  left: -142px;
  top: -70px;
  height: 470px;
  width: 100%;
  background-color: #55b7ff;
}
.what_we_do_section_main .content .content_img .img {
  width: 100%;
  display: flex;
}
.what_we_do_section_main .content .content_img .img img {
  z-index: 2;
  width: 100%;
  overflow: hidden;
  height: 470px;
  object-fit: none;
}
.what_we_do_section_main .content .content_img .sq-r {
  position: absolute;
  right: -142px;
  top: -70px;
  height: 470px;
  width: 100%;
  background-color: #7e5aff;
}
.what_we_do_section_main .content .content_text {
  width: 40%;
}
.what_we_do_section_main .content .content_text .subtitle_top {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #2c4058;
  font-family: "Gothan";
  padding-bottom: 10px;
}
.what_we_do_section_main .content .content_text h3 {
  font-weight: 600;
  font-size: 44px;
  font-family: "Gothan";
  text-transform: uppercase;
  color: #2c4058;
  padding-bottom: 24px;
  word-spacing: -1px;
}
.what_we_do_section_main .content .content_text p {
  font-size: 21px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #4b5562;
  padding-bottom: 30px;
  letter-spacing: 0.2px;
  word-spacing: -2px;
  line-height: 30px;
}
.what_we_do_section_main .content .content_text .button {
  margin-bottom: 57px;
}
.what_we_do_section_main .content .content_text .adres {
  font-family: "Open Sans";
  font-style: italic;
  font-size: 18px;
  word-spacing: -1px;
  letter-spacing: 1px;
}
.what_we_do_section_main .content .content_text .adres .point {
  display: inline-block;
  margin-right: 8px;
}
.what_we_do_section_main .content .content_text .adres .point img {
  width: 12px;
}
.what_we_do_section_main .content-rg {
  flex-direction: row-reverse;
}
.what_we_do_section_main .content-rg .content_img .content_img_block .section_sq {
  left: unset;
  right: -41%;
  background-color: #7e5aff;
}

.letest_news_section {
  background-image: url("../images/img/last_news_bg.png");
  background-size: cover;
}

.lSSlideOuter {
  position: relative;
  overflow: visible;
}

.lSSlideWrapper {
  position: static;
}

.lSAction > .lSPrev {
  left: -32px;
}

.lSAction > .lSNext {
  right: -32px;
}

.letest_news_section_content {
  padding-top: 170px;
}
.letest_news_section_content .lSSlideOuter {
  position: relative;
}
.letest_news_section_content .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translate(-50%, 0) !important;
}
.letest_news_section_content .h2 {
  padding-bottom: 90px;
}
.letest_news_section_content .slider_letest_news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.letest_news_section_content .slider_letest_news .slide_el {
  height: 514px;
  width: 95% !important;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  max-width: 370px;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img {
  margin-bottom: 19px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img .img_gradient1 {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.3s ease-in;
  position: absolute;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img:hover .img_gradient1 {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img img {
  width: 100%;
  display: flex;
  position: relative;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body {
  padding: 0 20px;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body .news_name {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  color: #2c4058;
  font-family: "Gothan";
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 7px;
  letter-spacing: 0.2px;
  line-height: 32px;
  max-height: 90px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body .news_name:hover {
  color: #3872b9;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body .news_discription {
  display: block;
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 28px;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer {
  position: absolute;
  left: 20px;
  bottom: 27px;
  display: flex;
  font-family: "Gothan";
  background-color: #fff;
  z-index: 5;
  padding-right: 20px;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .avatar {
  display: inline-block;
  margin-right: 18px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .avatar:hover {
  border: 2px solid black;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .author {
  font-size: 18px;
  font-weight: 500;
  color: #2c4058;
  text-transform: uppercase;
  padding-bottom: 7px;
  max-height: 25px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .author:hover {
  color: #55b7ff;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .date {
  font-size: 14px;
  color: #55b7ff;
  font-weight: 500;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .date::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: transparent;
  left: 0;
  bottom: -3px;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .date:hover::before {
  background-color: #55b7ff;
}

.img_section {
  background-color: #fff;
}

.img_section_content {
  padding-top: 170px;
}
.img_section_content .h2 {
  padding-bottom: 90px;
}
.img_section_content .images {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 60px;
}
.img_section_content .images .img {
  display: inline-block;
}
.img_section_content .images .img img {
  width: 100%;
  height: 100%;
}
.img_section_content .images .img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img_section_content .button {
  margin: 0 auto 140px;
}

.map_form_adress_section {
  background-color: gray;
}

.map #map {
  height: 700px;
  position: relative;
  z-index: 3;
}
.map #map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map #map #map_link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: "Gothan";
  font-weight: 600;
  opacity: 0;
  transition: all 0.2s ease-in;
  line-height: 400px;
  text-transform: uppercase;
  z-index: 3;
}
.map #map #map_link:hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}

/*







*/
.message {
  left: 0;
  top: 50px;
  max-height: 32px;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
  display: block;
  position: absolute;
  font-size: 12px;
  color: red;
}

.message_name {
  position: absolute;
  left: 0;
  top: -24px;
  font-size: 12px;
  color: red;
  display: block;
  max-width: 100%;
  max-height: 30px;
}

.green {
  color: green;
}

.footer {
  font-family: "Gothan";
  font-weight: 500;
  z-index: 10;
  position: relative;
}
.footer .form_adress {
  position: absolute;
  left: 50%;
  top: -300px;
  transform: translate(-50%, 0);
  background-image: url(../images/img/form_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fff;
  margin: 0 auto;
  max-width: 770px;
  width: 90%;
  margin-bottom: 54px;
  z-index: 10;
  padding: 80px 60px 0;
}
.footer .form_adress .h2 {
  padding-bottom: 46px;
}
.footer .form_adress .form_adress_content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;
}
.footer .form_adress .form_adress_content .adress {
  width: calc(50% - 15px);
}
.footer .form_adress .form_adress_content .adress .adress_list li {
  text-align: center;
  padding-bottom: 35px;
}
.footer .form_adress .form_adress_content .adress .adress_list li a {
  font-family: "Gathan";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
  word-spacing: -2px;
  color: #2c4058;
}
.footer .form_adress .form_adress_content .adress .adress_list li a .icon {
  margin-right: 10px;
}
.footer .form_adress .form_adress_content .adress .adress_list li a .icon img {
  height: 17px;
}
.footer .form_adress .form_adress_content .adress .adress_list li:last-child {
  padding: 0;
}
.footer .form_adress .form_adress_content .form {
  width: calc(50% - 15px);
}
.footer .form_adress .form_adress_content .form form {
  position: relative;
  width: 100%;
}
.footer .form_adress .form_adress_content .form form input {
  background-color: transparent;
  width: 100%;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #2c4058;
  font-size: 18px;
  font-family: "Gothan";
  font-weight: 500;
  color: #2c4058;
  padding-bottom: 15px;
  margin-bottom: 37px;
  padding-left: 2px;
}
.footer .form_adress .form_adress_content .form form .error {
  border-bottom: 1px solid red;
}
.footer .form_adress .form_adress_content .form form .last {
  margin-bottom: 30px;
}
.footer .form_adress .form_adress_content .form form .ok {
  border-bottom: 1px solid green;
}
.footer .footer_footer {
  padding-top: 200px;
  background-image: url(../images/img/footer_bg.png);
  margin: 0 auto;
  width: 100%;
  background-size: cover;
}
.footer .footer_footer .footer_container {
  width: 90%;
  max-width: 770px;
  margin: 0 auto;
}
.footer .footer_footer .footer_container .logo_social {
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_footer .footer_container .logo_social .socials_list {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer_footer .footer_container .logo_social .socials_list li {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.footer .footer_footer .footer_container .logo_social .socials_list li img {
  height: 16px;
  fill: #fff;
}
.footer .footer_footer .footer_container .logo_social .socials_list li:hover {
  border: 3px solid #ad99fc;
}
.footer .footer_footer .footer_container .logo_social .logo {
  width: 50%;
}
.footer .footer_footer .footer_container .author {
  color: #fff;
  font-size: 14px;
  padding-bottom: 200px;
}

@media screen and (max-width: 1030px) {
  .header .logo {
    width: 30%;
  }
  .header nav {
    width: 68%;
  }
  .header nav .nav li a {
    font-size: 12px;
  }
  .header nav .nav li a::before {
    left: -16px;
  }
}
@media screen and (max-width: 950px) {
  .slider_big .slide_element .h_title {
    font-size: 58px;
  }
  .slider_big .slide_element .h_subtitle {
    font-size: 12px;
  }

  .header .socials_list {
    display: none;
  }

  .soc_list_compresed {
    display: flex;
  }

  .header nav .nav li {
    margin-left: 35px;
  }
}
@media screen and (max-width: 900px) {
  .header nav .nav {
    justify-content: flex-start;
  }
  .header nav .nav li {
    margin-left: 40px;
  }

  .img_section_content .images {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }
  .img_section_content .images .img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media screen and (max-width: 860px) {
  nav {
    display: none;
  }

  #humburger_header {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .letest_news_section_content {
    padding-top: 85px;
  }
  .letest_news_section_content .slider_letest_news {
    padding-bottom: 100px;
  }

  .img_section_content {
    padding-top: 85px;
  }

  .img_section_content .section_content .button {
    margin-bottom: 70px;
  }

  .what_we_do_section_main .content {
    padding-bottom: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .what_we_do_section_main .content .content_img {
    width: 100%;
    margin-bottom: 30px;
  }
  .what_we_do_section_main .content .content_img .sq {
    display: none;
  }
  .what_we_do_section_main .content .content_img .sq-r {
    display: none;
  }
  .what_we_do_section_main .content .content_img .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .what_we_do_section_main .content .content_text {
    width: 100%;
  }

  .what_we_do_section {
    padding-top: 0;
  }

  .what_we_do_section_main h2 {
    padding-bottom: 40px;
  }

  .map #map {
    height: 50vh;
  }
}
@media screen and (max-width: 750px) {
  .slider_big .slide_element .h_title {
    font-size: 45px;
  }
  .slider_big .slide_element .h_subtitle {
    font-size: 11px;
  }
}
@media screen and (max-width: 700px) {
  .footer .form_adress {
    position: static;
    margin: 0 auto;
    transform: unset;
  }

  .footer .footer_footer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 682px) {
  .slider_big .slide_element .h_title {
    font-size: 36px;
  }

  .slider_big .slide_element .h_subtitle {
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 600px) {
  .footer .form_adress .form_adress_content {
    flex-direction: column;
  }
  .footer .form_adress .form_adress_content .adress {
    width: 100%;
    padding-bottom: 70px;
  }
  .footer .form_adress .form_adress_content .form {
    width: 100%;
  }
  .footer .form_adress .form_adress_content .form .button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .img_section_content .images {
    grid-template-columns: 1fr;
  }
  .img_section_content .images .img1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .footer .footer_footer .footer_container .logo_social .logo img {
    height: 40px;
  }

  .footer .footer_footer .footer_container .author {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .footer .footer_footer .footer_container .author .stick {
    display: none;
  }
  .footer .footer_footer .footer_container .author span {
    padding-bottom: 20px;
  }
  .footer .footer_footer .footer_container .author span:last-child {
    padding-bottom: 0;
  }

  .slider_big .slide_element .h_title {
    font-size: 28px;
  }

  .h2 {
    font-size: 30px;
  }

  .what_we_do_section_main .content .content_text h3 {
    font-size: 30px;
  }

  .slider_big .slide_element .h_subtitle {
    letter-spacing: 0px;
    display: block;
    width: 80%;
  }
}
@media screen and (max-width: 420px) {
  .header .logo img {
    height: 40px;
  }
}
@media screen and (max-width: 370px) {
  .footer .footer_footer .footer_container .logo_social {
    display: flex;
    flex-direction: column;
  }
  .footer .footer_footer .footer_container .logo_social .logo {
    margin-bottom: 20px;
  }

  .footer .form_adress .form_adress_content .adress .adress_list li a {
    font-size: 14px;
  }

  .header .logo img {
    height: 35px;
  }
}