@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.img_galery {
  position: relative;
}
.img_galery::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/img/360.png");
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.img_galery:hover::before {
  transition: all 0.2s ease-in;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.h2 {
  text-transform: uppercase;
  font-size: 44px;
  font-family: "Gothan";
  font-weight: 600;
  position: relative;
  text-align: center;
}
.h2::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.h2_black {
  color: #2c4058;
}
.h2_black::before {
  background-color: #2c4058;
}

.h2_white {
  color: #fff;
}
.h2_white::before {
  background-color: #fff;
}

.button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  color: #2c4058;
  border: 1px solid #2c4058;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 40px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  letter-spacing: 0.5px;
}
.button:hover {
  color: #fff;
  background-color: #2c4058;
  transition: all 0.2s ease-in;
}

header {
  height: 160px;
  z-index: 100000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.2s ease-in;
  position: fixed;
  backdrop-filter: blur(3px);
}

.fixed {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
}
.fixed .logo_img {
  height: 40px;
  transition: all 0.2s ease-in;
}

.soc_list_compresed {
  width: 40px;
  height: 40px;
  border: 1px solid #ad99fc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;
  display: none;
  position: relative;
  transition: all 0.1s ease-in;
}
.soc_list_compresed .li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}
.soc_list_compresed .li img {
  height: 8px;
}
.soc_list_compresed .soc_list_compresed_in {
  width: 40px;
  height: 0;
  overflow: hidden;
  border: 1px solid #ad99fc;
  border-radius: 12px;
  position: absolute;
  left: -1px;
  top: -1px;
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.4s ease-in;
}
.soc_list_compresed .soc_list_compresed_in a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  margin-bottom: 10px;
}
.soc_list_compresed .soc_list_compresed_in a img {
  height: 16px;
  fill: #fff;
}
.soc_list_compresed .soc_list_compresed_in a:hover {
  border: 3px solid #ad99fc;
}
.soc_list_compresed .uncompresed {
  height: 170px;
}

.uncompresed_active {
  border: 1px solid transparent;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  font-family: "Gothan";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: calc(23% - 15px);
}
.header nav {
  width: calc(60% - 30px);
}
.header nav .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header nav .nav li {
  display: inline-block;
}
.header nav .nav li a {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  color: #fff;
}
.header nav .nav li a::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: 1px;
}
.header nav .nav li .active::before {
  background-color: #fff;
}
.header .socials_list {
  width: calc(15% - 15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .socials_list li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.header .socials_list li img {
  height: 16px;
  fill: #fff;
}
.header .socials_list li:hover {
  border: 3px solid #ad99fc;
}

.promo_section {
  position: relative;
}

.slider_big {
  height: 800px;
  background-color: rgba(0, 0, 0, 0.3);
}
.slider_big .slick-dots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
}
.slider_big .slick-dots li button {
  color: #fff;
}
.slider_big .slick-dots li button:before {
  color: #fff;
  content: "○";
  font-size: 18px;
}
.slider_big .slick-dots li.slick-active button::before {
  color: #ffffff;
  content: "•";
  font-size: 8px;
}
.slider_big .slide_element {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100vh;
  font-family: "Gothan";
  flex-direction: column;
  padding-top: 349px;
  background-image: url(../images/img/slider_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider_big .slide_element .h_title {
  display: block;
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 19px;
  letter-spacing: 4px;
}
.slider_big .slide_element .h_subtitle {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.slide_down_button {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 0);
}
.slide_down_button .slide_down {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccddfb;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.slide_down_button .slide_down::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 16px;
  top: 15px;
  transform: rotate(-45deg);
}
.slide_down_button .slide_down:hover {
  background-color: #ccddfb;
}

.what_we_do_section {
  background-color: #fff;
  padding-top: 130px;
  display: none;
}

.what_we_do_section_main {
  padding-top: 128px;
}
.what_we_do_section_main h2 {
  padding-bottom: 160px;
}
.what_we_do_section_main .content {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 210px;
}
.what_we_do_section_main .content .content_img {
  display: inline-block;
  width: 54%;
  position: relative;
  z-index: 2;
}
.what_we_do_section_main .content .content_img .content_img_block {
  height: 100%;
}
.what_we_do_section_main .content .content_img .content_img_block .section_sq {
  overflow-y: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: -41%;
  top: -70px;
  background-color: #55b7ff;
  height: 100%;
}
.what_we_do_section_main .content .content_img .content_img_block .img {
  width: 100%;
  display: flex;
}
.what_we_do_section_main .content .content_img .content_img_block .img img {
  z-index: 2;
  height: 100%;
  width: 100%;
}
.what_we_do_section_main .content .content_text {
  width: 40%;
  padding-top: 53px;
}
.what_we_do_section_main .content .content_text .subtitle_top {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #2c4058;
  font-family: "Gothan";
  padding-bottom: 10px;
}
.what_we_do_section_main .content .content_text h3 {
  font-weight: 600;
  font-size: 44px;
  font-family: "Gothan";
  text-transform: uppercase;
  color: #2c4058;
  padding-bottom: 24px;
  word-spacing: -1px;
}
.what_we_do_section_main .content .content_text p {
  font-size: 21px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #4b5562;
  padding-bottom: 30px;
  letter-spacing: 0.2px;
  word-spacing: -2px;
  line-height: 30px;
}
.what_we_do_section_main .content .content_text .button {
  margin-bottom: 57px;
}
.what_we_do_section_main .content .content_text .adres {
  font-family: "Open Sans";
  font-style: italic;
  font-size: 18px;
  word-spacing: -1px;
  letter-spacing: 1px;
}
.what_we_do_section_main .content .content_text .adres .point {
  display: inline-block;
  margin-right: 8px;
}
.what_we_do_section_main .content .content_text .adres .point img {
  width: 12px;
}
.what_we_do_section_main .content-rg {
  flex-direction: row-reverse;
}
.what_we_do_section_main .content-rg .content_img .content_img_block .section_sq {
  left: unset;
  right: -41%;
  background-color: #7e5aff;
}

.letest_news_section {
  background-image: url("../images/img/last_news_bg.png");
  background-size: cover;
}

.letest_news_section_content {
  padding-top: 170px;
}
.letest_news_section_content .h2 {
  padding-bottom: 90px;
}
.letest_news_section_content .slider_letest_news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
}
.letest_news_section_content .slider_letest_news .slide_el {
  height: 514px;
  width: 95% !important;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img {
  margin-bottom: 19px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img .img_gradient1 {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all 0.3s ease-in;
  position: absolute;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img:hover .img_gradient1 {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .href_in_img img {
  width: 100%;
  display: flex;
  position: relative;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body {
  padding: 0 20px;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body .news_name {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  color: #2c4058;
  font-family: "Gothan";
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 7px;
  letter-spacing: 0.2px;
  line-height: 32px;
  max-height: 90px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body .news_name:hover {
  color: #3872b9;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_body .news_discription {
  display: block;
  font-size: 18px;
  font-family: "Open Sans";
  color: #4b5562;
  line-height: 28px;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer {
  position: absolute;
  left: 20px;
  bottom: 27px;
  display: flex;
  font-family: "Gothan";
  background-color: #fff;
  z-index: 5;
  padding-right: 20px;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .avatar {
  display: inline-block;
  margin-right: 18px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .avatar:hover {
  border: 2px solid black;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes {
  padding-top: 7px;
  display: flex;
  flex-direction: column;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .author {
  font-size: 18px;
  font-weight: 500;
  color: #2c4058;
  text-transform: uppercase;
  padding-bottom: 7px;
  max-height: 25px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .author:hover {
  color: #55b7ff;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .date {
  font-size: 14px;
  color: #55b7ff;
  font-weight: 500;
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .date::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: transparent;
  left: 0;
  bottom: -3px;
  transition: all 0.2s ease-in;
}
.letest_news_section_content .slider_letest_news .slide_el .slide_el_footer .news_danes .date:hover::before {
  background-color: #55b7ff;
}

.img_section {
  background-color: #fff;
}

.img_section_content {
  padding-top: 170px;
}
.img_section_content .h2 {
  padding-bottom: 90px;
}
.img_section_content .section_content .images {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.img_section_content .section_content .images .big_img {
  width: calc(50% - 5px);
}
.img_section_content .section_content .images .big_img img {
  width: 100%;
  display: flex;
}
.img_section_content .section_content .images .small_images {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
}
.img_section_content .section_content .images .small_images .row1 {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.img_section_content .section_content .images .small_images .row1 .img_little {
  width: calc(50% - 5px);
}
.img_section_content .section_content .images .small_images .row1 .img_little img {
  display: flex;
  width: 100%;
  height: 100%;
}
.img_section_content .section_content .images .small_images .row2 {
  display: flex;
  justify-content: space-between;
}
.img_section_content .section_content .images .small_images .row2 .img_little {
  width: calc(50% - 5px);
}
.img_section_content .section_content .images .small_images .row2 .img_little img {
  display: flex;
  width: 100%;
  height: 100%;
}
.img_section_content .section_content .button {
  margin: 0 auto 140px;
  margin-bottom: 140px;
}

.map_form_adress_section {
  background-color: gray;
}

.map #map {
  height: 700px;
  position: relative;
  z-index: 3;
}
.map #map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map #map #map_link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: "Gothan";
  font-weight: 600;
  opacity: 0;
  transition: all 0.2s ease-in;
  line-height: 400px;
  text-transform: uppercase;
  z-index: 3;
}
.map #map #map_link:hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.footer {
  background-image: url(../images/img/footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 520px;
}

/*







*/
.container_special {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 205px;
  z-index: 10;
}

.footer_content {
  font-family: "Gothan";
  font-weight: 500;
  margin: 0 auto;
  width: 65.8119%;
  z-index: 10;
}
.footer_content .form_adress {
  background-image: url(../images/img/form_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fff;
  padding: 80px 60px 0;
  margin-bottom: 54px;
  z-index: 10;
}
.footer_content .form_adress .h2 {
  padding-bottom: 46px;
}
.footer_content .form_adress .form_adress_content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;
}
.footer_content .form_adress .form_adress_content .adress {
  width: calc(50% - 15px);
}
.footer_content .form_adress .form_adress_content .adress .adress_list li {
  padding-bottom: 35px;
}
.footer_content .form_adress .form_adress_content .adress .adress_list li a {
  font-family: "Gathan";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
  word-spacing: -2px;
  color: #2c4058;
}
.footer_content .form_adress .form_adress_content .adress .adress_list li a .icon {
  margin-right: 10px;
}
.footer_content .form_adress .form_adress_content .adress .adress_list li a .icon img {
  height: 17px;
}
.footer_content .form_adress .form_adress_content .adress .adress_list li:last-child {
  padding: 0;
}
.footer_content .form_adress .form_adress_content .form {
  width: calc(50% - 15px);
}
.footer_content .form_adress .form_adress_content .form form {
  width: 100%;
}
.footer_content .form_adress .form_adress_content .form form input {
  background-color: transparent;
  width: 100%;
  border: none;
  text-decoration: none;
  border-bottom: 1px solid #2c4058;
  font-size: 18px;
  font-family: "Gothan";
  font-weight: 500;
  color: #2c4058;
  padding-bottom: 15px;
  margin-bottom: 37px;
  padding-left: 2px;
}
.footer_content .form_adress .form_adress_content .form form .last {
  margin-bottom: 30px;
}
.footer_content .footer_content_footer .logo_social {
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_content .footer_content_footer .logo_social .socials_list {
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_content .footer_content_footer .logo_social .socials_list li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ad99fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.footer_content .footer_content_footer .logo_social .socials_list li img {
  height: 16px;
  fill: #fff;
}
.footer_content .footer_content_footer .logo_social .socials_list li:hover {
  border: 3px solid #ad99fc;
}
.footer_content .footer_content_footer .author {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 1120px) {
  .footer_content .form_adress .form_adress_content .adress .adress_list li a {
    font-size: 16px;
  }

  .header .socials_list {
    display: none;
  }

  .soc_list_compresed {
    display: flex;
  }
}
@media screen and (max-width: 1030px) {
  .header .logo {
    width: 30%;
  }
  .header nav {
    width: 68%;
  }
  .header nav .nav li a {
    font-size: 12px;
  }
  .header nav .nav li a::before {
    left: -16px;
  }
}
@media screen and (max-width: 950px) {
  .slider_big .slide_element .h_title {
    font-size: 58px;
  }
  .slider_big .slide_element .h_subtitle {
    font-size: 12px;
  }

  .footer_content .footer_content_footer .logo_social .socials_list {
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  .footer_content .form_adress .form_adress_content {
    flex-direction: column;
  }
  .footer_content .form_adress .form_adress_content .adress {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
  .footer_content .form_adress .form_adress_content .form {
    width: 100%;
  }
  .footer_content .form_adress .form_adress_content .form form .button_position {
    display: block;
  }
  .footer_content .form_adress .form_adress_content .form form .button_position .button {
    margin: 0 auto;
  }

  .header nav .nav {
    justify-content: flex-start;
  }
  .header nav .nav li {
    margin-left: 40px;
  }
}
@media screen and (max-width: 860px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .img_section_content .section_content .images {
    flex-direction: column;
  }
  .img_section_content .section_content .images .big_img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .img_section_content .section_content .images .small_images {
    width: 80%;
    margin: 0 auto;
  }

  .letest_news_section_content {
    padding-top: 85px;
  }
  .letest_news_section_content .slider_letest_news {
    padding-bottom: 100px;
  }

  .img_section_content {
    padding-top: 85px;
  }

  .img_section_content .section_content .button {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 750px) {
  .slider_big .slide_element .h_title {
    font-size: 45px;
  }
  .slider_big .slide_element .h_subtitle {
    font-size: 11px;
  }
}
@media screen and (max-width: 682px) {
  .footer_content .footer_content_footer .logo_social .socials_list {
    width: 33%;
  }

  .footer_content .footer_content_footer .author {
    font-size: 12px;
  }
}