* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html body {
    width: 100%;
    height: 100%;

}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.main {
    background-color: #f6f6f6;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
}



.cards {

    text-align: center;
}

.main_header{
    text-align: center;
    width: 49%;
    margin: 0 auto 50px;
    padding-top: 102px;
}

h1 {
    font-size: 34px;
    font-weight: 700;

    padding-bottom: 56px;
}

h1::after {
    content: '';
    border-bottom: 4px solid #dddbdb;
    width: 45px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.main_header p {
    font-size: 16px;
    font-weight: 400;
}

.main_cards {
    margin: 0 auto;
    text-align: center;
}

.cards_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    text-align: left;

}

.card {

    width: calc(25% - 22.5px);
    max-width: 270px;
    position: relative;

}

.card_top {
    height: 270px;
    cursor: pointer;
    margin-bottom: 16px;


}


.card_top_hover{
    width: 100%;
    height: 270px;
    perspective: 1000px;

}

.card_top_hover_help {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in;
    transform-style: preserve-3d;
}

.card_top:hover .card_top_hover_help {
    transform: rotateY(180deg);
}


.front {
    width: 270px;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}



.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: #18b5dc;

}





.soc_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 130px;


    

}

.soc_list li {
    display: inline-block;
    list-style: none;
    padding-bottom: 2px;

}


.soc_list li a{
    width: 42px;
    height: 42px;
    background-color: #5ecbe7;
    cursor: pointer;
    display: block;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    transition: all .3s ease-in;
    cursor: help;


}

.google {
    background-position: -78px 12px;
}
.google:hover {
    background-position: -78px -23px;
    background-color: #fff;
    
}

.facebook {
    background-position: -33px 12px;
}

.facebook:hover {
    background-position: -33px -23px;
    background-color: #fff;
}

.twiter {
    background-position: 10px 12px;
}
.twiter:hover {
    background-position: 10px -21px;
    background-color: #fff;
}

.portret img{
    width: 270px;
    height: 270px;
}

.name {
    font-size: 18px;
    font-weight: 700;
    color: #282528;
    line-height: 18px;
    padding-bottom: 4px ;
}

.work {
    font-size: 14px;
    color: #646464;
    font-weight: 300;
    padding-bottom: 110px;
}