* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #262626;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-align: center;
  padding-top: 14px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #f72b3b;
  transition: all 0.2s ease-in;
  box-shadow: 2px 2px 9px rgba(29, 27, 27, 0.637);
  width: 200px;
  height: 55px;
}

.button:hover {
  background: white;
  color: #f72b3b;
}

.block_name_h2 {
  font-size: 90px;
  font-weight: 700;
  color: #fff;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #262626;
}

img {
  width: 100%;
  height: 100%;
}

header {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: 150px;
  z-index: 5;
  box-shadow: 0 1px 5px;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav .nav {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}
header .container nav .nav li {
  display: inline;
  margin: 15px;
}
header .container nav .nav li a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #262626;
  padding: 8px 0;
}
header .container nav .nav li a:hover {
  border-top: 3px solid #ff6033;
}

main {
  padding-top: 150px;
}
main .main_section {
  background-color: #f9f8fb;
  background-image: url(../../images/main-section-fone.png);
  background-repeat: no-repeat;
  backface-visibility: visible;
}
main .main_section .container .main_section_content {
  padding: 346px 0 404px;
}
main .main_section .container .main_section_content h1 {
  padding-bottom: 22px;
}
main .main_section .container .main_section_content p {
  font-weight: 300;
  font-size: 17px;
  color: #262626;
  width: 30%;
  padding-bottom: 24px;
}
main .about_section {
  background-color: #00bbbb;
}
main .about_section .container .about_section_flex {
  background-color: #00bbbb;
  background-image: url(../../images/about-ass-background.png);
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
main .about_section .container .about_section_flex .about_section_content {
  width: 43%;
  text-align: left;
  padding: 166px 0 224px;
}
main .about_section .container .about_section_flex .about_section_content .abount_section_h2 {
  padding-bottom: 24px;
}
main .about_section .container .about_section_flex .about_section_content p {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  line-height: 27px;
  padding-bottom: 14px;
}
main .about_section .container .about_section_flex .about_section_content p:last-child {
  padding: 0;
}
main .services_section {
  background-color: #70bfff;
}
main .services_section .container .services_section_content {
  display: flex;
  justify-content: space-around;
}
main .services_section .container .services_section_content .services_list {
  width: 48, 717%;
  display: flex;
  padding: 179px 0 151px;
  flex-direction: column;
  justify-content: center;
}
main .services_section .container .services_section_content .services_list li {
  list-style: none;
  background-color: #fff;
  margin-bottom: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_content .services_list li .services_list-link-text {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
  cursor: pointer;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_content .services_list li .services_list-link-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #111a28;
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_content .services_list li .services_list-link-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_content .services_list li .services_list-link-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 1px;
  background-color: transparent;
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_content .services_list li:hover a {
  background-color: #111a28;
  color: #fff;
  transition: all 0.3s ease-in;
}
main .services_section .container .services_section_content .services_list li:hover .service_icon {
  stroke: #fff;
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_content .services_list li:hover .services_list-link-text::after {
  height: 0;
  transition: all 0.3s ease-in;
}
main .services_section .container .services_section_content .services_list li:hover .services_list-link-image::before {
  height: 100%;
  background-color: #fff;
  transition: all 0.35s ease-in;
}
main .services_section .container .services_section_background_image {
  width: 48.717%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/services-section-background.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 179px 0 151px;
}
main .gallery_section {
  background-color: #ffe92f;
  padding: 80px 0 110px;
  color: #262626;
  text-align: center;
  padding-bottom: 40px;
}
main .gallery_section .container .gallery_section_title {
  width: 55%;
  margin: 0 auto;
  padding-bottom: 40px;
}
main .gallery_section .container .gallery_section_title .block_name_h2 {
  padding-bottom: 30px;
}
main .gallery_section .container .gallery_section_title .gallery_section_subtitle {
  font-size: 17px;
  font-size: 300;
}
main .gallery_section .container .gallery_section_images_list {
  padding-bottom: 50px;
}
main .gallery_section .container .gallery_section_images_list .first_block {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .gallery_section .container .gallery_section_images_list .first_block .big {
  width: 66%;
}
main .gallery_section .container .gallery_section_images_list .first_block .little_blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32%;
}
main .gallery_section .container .gallery_section_images_list .second_block {
  display: flex;
  justify-content: space-between;
}
main .gallery_section .container .gallery_section_images_list .second_block .standart {
  width: 49%;
}
main .subscribe_section {
  background-image: url(../../images/lohina-background.png);
  background-repeat: no-repeat;
  background-position: 80%;
  width: 100%;
  background-color: #ffffff;
  color: #262626;
}
main .subscribe_section .container .button-blue {
  border: none;
  position: absolute;
  right: -220px;
  top: 0;
  background-color: #5585a2;
  padding: 0;
}
main .subscribe_section .container .button-blue:hover {
  background-color: #fff;
  transition: all 0.3s ease-in;
}
main .subscribe_section .container .subscribe_section_content {
  width: 49%;
  padding-top: 130px;
}
main .subscribe_section .container .subscribe_section_content .block_name_h2-black-small {
  color: #262626;
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 40px;
}
main .subscribe_section .container .subscribe_section_content .subtitle {
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 36px;
}
main .subscribe_section .container .form_for_subscribe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 164px;
}
main .subscribe_section .container .form_for_subscribe .form_lane {
  position: relative;
  width: 100%;
}
main .subscribe_section .container .form_for_subscribe .form_lane input {
  width: 100%;
  height: 55px;
  padding-left: 8px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Raleway";
  border: 1px solid #000;
}
main .blog {
  background-color: #b07cf7;
  color: #ffffff;
  padding-top: 80px;
}
main .blog .container .container_center {
  text-align: center;
}
main .blog .container .container_center .button_blog {
  text-align: center;
  padding-bottom: 120px;
}
main .blog .container .container_center .block_name_h2 {
  padding: 20px;
  text-align: center;
}
main .blog .container .container_center .blog_discription {
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
  width: 48.71%;
  line-height: 25px;
  padding-bottom: 45px;
  font-weight: 300;
}
main .blog .container .container_center .blog_blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 310px;
  margin-bottom: 50px;
}
main .blog .container .container_center .blog_blocks .blog_block {
  width: calc(33.3333% - 20px);
  position: relative;
  box-shadow: 2px 2px 9px rgba(29, 27, 27, 0.637);
  height: 310px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: block;
}
main .blog .container .container_center .blog_blocks .blog_block:hover {
  box-shadow: 20px 20px 36px rgba(29, 27, 27, 0.637);
  transition: all 0.5s ease-in;
}
main .blog .container .container_center .blog_blocks .blog_block:hover .date {
  top: 40px;
  left: 40px;
  opacity: 1;
  transition: all 0.3s ease-in;
}
main .blog .container .container_center .blog_blocks .blog_block .block_img {
  position: relative;
}
main .blog .container .container_center .blog_blocks .blog_block .date {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 5px;
  top: -60px;
  left: -60px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
main .blog .container .container_center .blog_blocks .blog_block .date .day {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  opacity: 100%;
}
main .blog .container .container_center .blog_blocks .blog_block .date .month {
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 900;
}
main .blog .container .container_center .blog_blocks .blog_block .block_text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  background: linear-gradient(360deg, rgba(24, 23, 23, 0.3), rgba(29, 28, 28, 0.5));
}
main .blog .container .container_center .blog_blocks .blog_block .block_text .blog_time {
  font-size: 13px;
  font-weight: 300;
  padding-top: 19px;
  line-height: 12px;
}
main .contact_section {
  background-image: url(../../images/contact-section_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}
main .contact_section .container .contact_section_name {
  text-align: center;
}
main .contact_section .container .contact_section_name .contact_name_h2 {
  color: #262626;
  padding-bottom: 40px;
}
main .contact_section .container .contact_section_name .subtitle {
  width: 31.6239%;
  color: #262626;
  margin: 0 auto;
  padding-bottom: 40px;
}
main .contact_section .container .contact_section_content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}
main .contact_section .container .contact_section_content form {
  text-align: center;
  width: 42.735%;
}
main .contact_section .container .contact_section_content form input {
  padding-left: 5px;
  border: none;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: #77d9d8;
  border-left: 5px solid transparent;
  margin-bottom: 15px;
  border-radius: none;
  font-family: "Raleway";
  opacity: 0.8;
}
main .contact_section .container .contact_section_content form input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}
main .contact_section .container .contact_section_content form input::-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
main .contact_section .container .contact_section_content form input:focus {
  border-left: 5px solid #355b82;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  outline: none;
}
main .contact_section .container .contact_section_content form textarea {
  border: none;
  width: 100%;
  height: 250px;
  background-color: #77d9d8;
  color: #fff;
  border-radius: none;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 15px;
}
main .contact_section .container .contact_section_content form textarea::-webkit-input-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
main .contact_section .container .contact_section_content form textarea::-moz-placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
main .contact_section .container .contact_section_content form textarea:focus {
  border-left: 5px solid #355b82;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
main .contact_section .container .contact_section_content form .button {
  border: none;
  padding: 0;
}
main .contact_section .container .contact_section_content .requisites dt {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 4px;
  text-transform: uppercase;
}
main .contact_section .container .contact_section_content .requisites dd {
  margin-bottom: 6px;
}
main .contact_section .container .contact_section_content .requisites dd a {
  text-decoration: none;
  color: #333131;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 4px;
  position: relative;
}
main .contact_section .container .contact_section_content .requisites dd a::after {
  content: "";
  height: 2px;
  background-color: #333131;
  position: absolute;
  width: 100%;
  bottom: 3px;
  left: 0;
  opacity: 0.3;
  transition: all 0.3s ease-in;
}
main .contact_section .container .contact_section_content .requisites dd a:hover::after {
  opacity: 1;
}

footer {
  height: 150px;
  width: 100%;
  background-color: #262626;
  display: flex;
  align-items: center;
  font-family: "Raleway";
}
footer .container .footer {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
}
footer .container .footer .rights {
  font-size: 16px;
  color: #b9b9b9;
  font-weight: 300;
}
footer .container .footer .creator {
  font-size: 15px;
  font-weight: 300;
  color: #b9b9b9;
}
footer .container .footer .creator .love {
  color: #ff2b58;
  font-weight: 600;
}