


@font-face {
     font-family: 'raleway_thinlight';
     src: url('../fonts/raleway-v19-latin-ext_latin-300-webfont.woff2') format('woff2'),
          url('../fonts/raleway-v19-latin-ext_latin-300-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
 
 
 
 
 @font-face {
     font-family: 'raleway_thinregular';
     src: url('../fonts/raleway-v19-latin-ext_latin-regular-webfont.woff2') format('woff2'),
          url('../fonts/raleway-v19-latin-ext_latin-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
 
 
 
 
 @font-face {
     font-family: 'raleway_thinbold';
     src: url('../fonts/raleway-v19-latin-ext_latin-700-webfont.woff2') format('woff2'),
          url('../fonts/raleway-v19-latin-ext_latin-700-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
 
 
 
 
 @font-face {
     font-family: 'raleway_thinblack';
     src: url('../fonts/raleway-v19-latin-ext_latin-900-webfont.woff2') format('woff2'),
          url('../fonts/raleway-v19-latin-ext_latin-900-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
 
 
 
 
