@import 'reset';


//=========================
.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}
.logo {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    &.logo_mobile {
        color: #fff;
    }
}

.button_bgc {
    width: 225px;
    height: 60px;
    background-color: #5474fd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in ;
    &:hover::after{
        width: 100%;
        transition: all .3s ease-in ;
        transform: skew(0deg);
    }
    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 120px;
        background-color: #496bfe;
        transform: skew(35deg);
        z-index: 1;
        left: 0;
        top: 0;
        position: absolute;
        transition: all .3s ease-in ;
        }
    .button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Aleo';
        position: absolute;
        left: 0;
        top: 0;
        letter-spacing: 1.37px;
        z-index: 10;
    }
}
h1 {
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
h2 {
    font-family: 'Aleo';
    font-size: 36px;
    color: #fff;
}
//===============================================
//==============mobile_elements=============
#menu_shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0, .8);
    z-index: 100;
    display: none;
}


.open #menu_shadow{
    display: block;
}

.open #mobile_menu_block {
    right: 0;
}

#mobile_menu_block {
    position: fixed;
    top: 0;
    right: -110%;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background-color: #5474fd ;
    z-index: 101;
    font-family: 'Raleway', sans-serif;
    transition: all .3s ease-in;
    .mobile_menu {
        .mobile_menu_top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .mobile_menu_logo {
                width: max-content;
                padding-bottom: 10px;
            }
        }
        .mobile_menu_nav {
            display: flex;
            flex-direction: column;
            list-style: none;
            align-items: flex-end;
            width: 100%;
            li {
                display: flex;
                list-style: none;
                justify-content: flex-end;
                width: 100%;
                border-bottom: 2px solid #fff;
                border-left: 2px solid #fff;
                border-right: 2px solid #fff;
                transition: all .2s ease-in;
                &:first-child {
                    border-top:  2px solid #fff;
                }
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: #fff;
                    font-size: 24px;
                    padding: 10px;
                    text-align: right;
                    display: block;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: 700;
                }

            }
        }
    }
}

//=======================================================
//=================first_screen=========
.first_screen {
    background-image: url(../images/first_screen_img-min.png);
    background-size: cover;
    height: 740px;
    padding-top: 246px;
    color: #fff;
}

.search_button {
    min-width: 146px;
    height: 56px;
    background-color: #5474fd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in;
    padding-left: 16px;
    &:hover {
        background-color: #163ef1;
    }
    .search_button_text {
        color: #fff;
        font-family: 'Aleo';
        text-transform: uppercase;
        margin-right: 14px;
        font-size: 16px;
        font-family: 'Aleo';
        font-weight: 400;
    }

}

.serch_section_content {
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
    h1 {
        padding-bottom: 6px;
    }
    .subtitle {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 47px;
        display: inline-block;
        letter-spacing: 5.2px;
    }
    form {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 2px;
        height: 60px;
        margin-bottom: 120px;
        input {
            width: 100%;
            border: none;
            height: 100%;
            background-color: #fff;
            display: flex;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            color: #999999;
            letter-spacing: 2.3px;
            &:focus::placeholder {
                color: transparent;
            }
        }

    }
    .scroll_down {
        font-size: 14px;
        position: relative;
        letter-spacing: 2px;
        padding-bottom: 11px;
    }
    .scroll_icon {
        content: '';
        width: 10px;
        height: 10px;
        border-right:  1px solid#fff;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        transform: rotate(45deg) translatex(-50%);
        margin: 0 auto;
        display: block;
    }

}
//=================================
//===============header====================
header {
    width: 100%;
    background-color: #5474fd;
    height: 80px;
    transition: all .3s ease-in;
    z-index: 100;
    &.fixed {
        height: 60px;
        position: fixed;
        left: 0;
        top: 0;
        transition: all .3s ease-in;
        .container {
            .header {
                height: 60px;
            }
        }
    }
}



.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    transition: all .3s ease-in;
    .nav_list {
        list-style: none;
        display: flex;
        justify-content: center;
        font-family: 'Aleo';
        justify-content: space-around;
        width: 100%;
        padding-left: 30px;
        transition: all .3s ease-in;
        li {
            display: inline-block;
            padding-right: 42px;
            &:last-child {
                padding-right: 0;
            }
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            height: 100%;
            position: relative;
            &::before {
                content: '';
                width: 0%;
                position: absolute;
                left: 0;
                bottom: -4px;
                background-color: #fff;
                height: 2px;
                transition: all .3s ease-in;
            }
            &:hover:before{
                width: 100%;
            }
        }
    }
}    
.hamburger_header {
    display: none;
}

//========================================
//==============about-section==========

.about_us_section {
    padding-top: 120px;
    background-image: url(../images/about-section-bgc-min.png);
    background-size: cover;
}

.about_us_section_content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    .about_us_section_description {
        width: calc(50% - 15px);
        padding-top: 80px;
        h2 {
            padding-bottom: 52px;
        }
        .about-us_section_text_blocks {
            color: #e8e8e8;
            
            padding-bottom: 42px;
            p {
                padding-bottom: 26px;
                line-height: 26px;
                font-size: 16px;
                letter-spacing: 0.56px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    .about_us_section_images {
        width: calc(50% - 15px);
        display: flex;
        flex-direction: column;

        .about_us_section_image_1 {
            padding-left: 65px;
            padding-bottom: 4px;
            img {
                display: flex;
                width: 100%;
                height: 100%;
                max-width: 350px;
            }

        }
        .about_us_section_image_2 {
            display: flex;
            flex-direction: row-reverse;
            img {
                display: flex;
                width: 100%;
                height: 100%;
                max-width: 350px;
            }
        }
    }
}

//======================
//===========turns_section========

.turns_section {
    background-color: #333333;
    padding-top: 96px;
}
.steps {
    display: flex;
    justify-content: space-between;
    padding-bottom: 114px;
    .step {
        text-align: center;
        width: 33.3333%;
        text-align: center;
        position: relative;
        &.step_center {
            &::before {
                content: '';
                position: absolute;
                height: 60px;
                background-image: url(../images/way.png);
                background-repeat: no-repeat;
                background-size: cover;
                left: -50%;
                top: -60px;
                width: 100%;
                background-color: transparent;
                z-index: 10;
            }
            &::after {
                content: '';
                position: absolute;
                height: 60px;
                background-image: url(../images/way.png);
                background-repeat: no-repeat;
                background-size: cover;
                left: 50%;
                top: -60px;
                width: 100%;
                background-color: transparent;
            }
        }
        svg {
            width: 70px;
            height: 70px;
            z-index: 1;

        }
        .step_discription {
            font-family: 'Aleo';
            color: #e8e8e8;
            font-size: 36px;
        }
    }
}
//==================================
//=============curort_section===============

.curort_section {
    padding-top: 229px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.curort_section-left {
    background-image: url(../images/curort-section-img-1-min.png);
}
.curort_section-right {
    background-image: url(../images/curort-section-img-2-min.png);
    .curort_card_position {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
}

.curort_section_card {
    width: calc(50% - 15px);
    background-color: rgba(35,35,35, .9);
    color: #e8e8e8;
    padding:51px 28px 48px;
    .country {
        font-size: 20px;
        padding-bottom: 30px;
    }
    h3 {
        color: #fff;
        font-size: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    .curort_description {
        font-size: 16px;
        padding-bottom: 44px;
        line-height: 26px;
        letter-spacing: -1px;
    }
    .button {
        margin-bottom: 50px;
    }
}

//======================
//=======coments_section

.coments_section {
    background-image: url(../images/coment-section_bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 113px;
}

.coment_section_content{
    text-align: center;
    padding-bottom: 200px;
    h2 {
        padding-bottom: 90px;
    }
    .coment {
        display: flex;
        justify-content: space-around;
        background-color: #333333;

        .coment_img {
            width: 40%;
            display: flex;
            min-width: 360px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .text_bgc {
            width: 60%;
            padding-top: 50px;
            text-align: left;
            .text {
                width: 82%;
                margin: 0 auto;
                padding-bottom: 45px;
                .coment_name {
                    color: #fefefe;
                    font-size: 20px;
                    text-transform: uppercase;
                    padding-bottom: 41px;
                }
                .coment_text {
                    font-size: 16px;
                    color: #e8e8e8;
                    line-height: 26px;
                    position: relative;
                    text-indent: 30px;
                    letter-spacing: -1.2px;
                    &:before {
                        content: url(../images/svg/quote-left-solid.svg);
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        position: absolute;
                        left: -30px;
                        top: -12px
                    }
                }
            }
        }
    }
}

//=============================
//=============footer=============

footer {
    background-color: #232323;
    padding-top: 120px;
}

.footer_content {
    width: 167px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 52px;
    .logo {
        padding-bottom: 10px;
        letter-spacing: 2.5px;
    }
    .footer_text {
        color: #fff;
        padding-bottom: 30px;
        letter-spacing: 0.5px;
    }
    .soc_list_lincs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        li{
            display: inline-block;
            a{
                width: 22px;
                height: 16px;
                text-align: center;
                transition: all .3s ease-in;
                &:hover svg{
                    fill: #5474fd;
                    transition: all .3s ease-in;
                }
                svg {
                    width: 22px;
                    height: 15px;
                    fill: #fff;
                }
            }
        }
    }

}

//============================
//============adaptive=============

@media screen and (max-width:958px) {
    .about_us_section_content {
        .about_us_section_images {
            .about_us_section_image_1 {
                padding-left: 25px;
                margin-bottom: 20px;
            }
            .about_us_section_image_2 {
                padding-left: 25px;
                display: block;
            }   
        }
        .about_us_section_description {
            padding-top: 0;
        }
    }
}

@media screen and (max-width:850px) {
    .header .nav_list li {
        padding-right: 30px;
    }
    .curort_section_card {
        width: 70%;
    }
}
@media screen and (max-width: 820px){
    .steps {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        .step {
            width: 100%;
            padding-bottom: 50px;
            &.step_center {
                &::before {
                    content: none;
                }
                &::after {
                    content: none;
                }
            }
            &:last-child {
                padding-bottom: 0;
            }
        }

    }
}
    


@media screen and (max-width:784px) {
    //=============header
    .header .nav_list {
        display: none;
    }
    .hamburger_header {
        display: block;
    }
    header {
        height: 60px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 20;
        box-shadow: 0 2px 2px rgba(228, 223, 223, 0.5);
    }
    .header {
        height: 60px;
    }

    //=======================
    //========about_section==============

    .about_us_section {
        padding-top: 60px;
    }
    .about_us_section_content {
        flex-direction: column;
        padding-bottom: 60px;
        .about_us_section_description {
            width: 100%;
            padding-bottom: 50px;
        }
        .about_us_section_images {
            flex-direction: row ;
            justify-content: space-between;
            width: 100%;
            .about_us_section_image_1 {
                margin-bottom: 0;
                padding-left: 0 ;
                width: calc(50% - 15px);
                img {
                    width: 100%;
                }
            }
            .about_us_section_image_2 {
                padding-left: 0;
                width: calc(50% - 15px);
                display: flex;
                img {
                    width: 100%;
                }
            }
        }
    }

    //========================
    //========steps_section==========

    .turns_section {
        padding-top: 90px;
    }
    .steps {
        padding-bottom: 90px;
    }

    //======================
    //===========curort_section========
    .curort_section {
        padding: 80px 0;
    }
    .curort_section_card {
        width: 85%;
    }
    //================
    //========coments_section=========
    .coments_section {
        padding-top: 80px;
    }
    .coment_section_content {
        padding-bottom: 80px;
    }
    .coment_section_content .coment {
        flex-direction: column;
        .coment_img {
            width: 100%;
        }
        .text_bgc {
            width: 100%;
            .coment_text {
                width: 100%;
                letter-spacing: -0.2px;
            }
        } 
    }
    //==========
    //====footer==========
    footer {
        padding-top: 30px;
    }
    .footer_content {
        padding-bottom: 30px;
    }
    //==================

}



    




@media screen and (max-width:700px) {
    .curort_section_card {
        width: 100%;
    }
}


@media screen and (max-width:600px) {
    .about_us_section_content .about_us_section_images {
        width: 100%;
        flex-direction: column;
        .about_us_section_image_1 {
            width: 100%;
            padding-bottom: 0;
            margin-bottom: 30px;
            img {
                max-width: 320px;
            }
        }
        .about_us_section_image_2 {
            width: 100%;
            flex-direction: row-reverse;
            img {
                max-width: 320px;
            }
        }
    }
}

@media screen and (max-width:464px) {
    .search_button {
        padding: 0 20px;
        min-width: 0;
        .search_button_text {
            display: none;
        }
    }
    .coment_section_content .coment .coment_img {
        min-width: 0;
    }
}

@media screen and (max-width:400px){
    .serch_section_content form input {
        &::placeholder {
            letter-spacing: 1px;
        }
    }
    h1 {
        font-size: 40px;
    }
    .serch_section_content .subtitle {
        letter-spacing: 2.6px;
    }
}
