* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  background-color: unset;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.h2 {
  font-size: 30px;
  color: #1c1c1b;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 6px;
  margin-right: -21px;
}

.search {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  z-index: 150;
  max-width: 400px;
  width: 100%;
}
.search form {
  height: 60px;
}
.search form label {
  display: flex;
  justify-content: space-between;
}
.search form label input {
  background: unset;
  border: unset;
  box-shadow: unset;
  border: 4px solid #fff;
  height: 60px;
  color: #000;
  padding-left: 5px;
  width: 75%;
  font-size: 24px;
  border-right: unset;
  background-color: rgba(255, 255, 255, 0.9);
}
.search form label button {
  width: 25%;
  border: 4px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}
.search form label button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.search.opened {
  display: block;
}

.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.opened {
  opacity: 1;
}
.opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.circle-plus {
  font-size: 1em;
  opacity: 0.7;
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.circle-plus .circle {
  position: relative;
  width: 2.55em;
  height: 2.5em;
  border-radius: 100%;
}

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #6e774a;
  width: 20px;
  height: 2px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #6e774a;
  width: 2px;
  height: 20px;
  left: 42%;
  margin-left: -2.5px;
  top: 56%;
  margin-top: -15px;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 125;
  transition: all 0.7s ease-in;
}
.shadow.shadow_opened {
  display: block;
  transition: all 0.7s ease-in;
}

.mobile_menu {
  transition: all ease-in 0.3s;
  font-family: "Oswald", sans-serif;
  max-width: 400px;
  width: 100%;
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  z-index: 150;
  background-color: #fff;
}
.mobile_menu .mobile_menu_header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.mobile_menu .mobile_menu_header .logo {
  height: 70px;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  color: #000;
  padding-right: 5px;
}
.mobile_menu .mobile_menu_header .mobile_menu_button button {
  padding-top: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border: unset;
  border-radius: unset;
  cursor: pointer;
  box-shadow: unset;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}
.mobile_menu .mobile_menu_header .mobile_menu_button button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.mobile_menu .mobile_menu_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile_menu .mobile_menu_body li {
  display: block;
  width: 100%;
}
.mobile_menu .mobile_menu_body li:first-child {
  border-top: 1px solid #000;
}
.mobile_menu .mobile_menu_body li a {
  padding: 10px 5px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}
.mobile_menu .mobile_menu_body li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.mobile_menu.mb_opened {
  left: 0;
}

header {
  position: relative;
  font-family: "Oswald", sans-serif;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #fff;
  font-weight: 400;
  background-color: transparent;
  z-index: 100;
  backdrop-filter: blur(6px);
}
header .links {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
header .links li {
  display: inline-block;
  padding-right: 42px;
}
header .links li a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}
header .links li :hover {
  color: rgba(216, 211, 211, 0.7);
}
header .links li button {
  border: unset;
  border-radius: unset;
  display: inline-block;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  box-shadow: none;
  padding: 0 32px;
  height: 80px;
  background-color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  box-shadow: unset;
  letter-spacing: 1px;
}
header .links li button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
header .links li button:hover {
  background-color: rgba(43, 42, 42, 0.3);
}
header .links .mobile_menu_button {
  display: none;
}
header .logo {
  height: 80px;
  display: flex;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
header .buttons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  height: 80px;
}
header .buttons.opened {
  height: unset;
}
header .buttons .button button {
  border: unset;
  border-radius: unset;
  display: inline-block;
  border-left: 1px solid #fff;
  cursor: pointer;
  box-shadow: none;
  padding: 0 32px;
  height: 80px;
  background-color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  box-shadow: unset;
  letter-spacing: 1px;
}
header .buttons .button button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
header .buttons .button button:hover {
  background-color: rgba(43, 42, 42, 0.3);
}
header .buttons .menu {
  display: none;
}

.fixed {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}
.fixed .links {
  height: 60px;
}
.fixed .links li {
  display: flex;
  align-items: center;
  height: 60px;
}
.fixed .links li button {
  height: 60px;
}
.fixed .links .mobile_menu_button {
  display: none;
}
.fixed .logo {
  height: 60px;
}
.fixed .buttons {
  height: 60px;
  overflow: hidden;
}
.fixed .buttons .button button {
  height: 60px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1170px;
}

.promo_section {
  background-blend-mode: multiply;
  background-image: url("../images/promo_svg.png");
  background-size: cover;
  padding-top: 380px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}
.promo_section .left_text {
  position: absolute;
  left: -4.6%;
  bottom: 0;
  height: 324px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.promo_section .left_text .text {
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  transform: rotate(270deg);
}
.promo_section .left_text .text .string {
  display: inline-block;
  height: 1px;
  width: 100px;
  background-color: #fff;
  margin-right: 20px;
}
.promo_section .scroll {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
  cursor: pointer;
  padding: 6px 10px 10px 10px;
  z-index: 10;
}
.promo_section .scroll:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.promo_section .scroll span {
  display: block;
  width: 15px;
  height: 15px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.promo_section_content {
  color: #f7f8f3;
  text-align: right;
  padding-bottom: 330px;
  position: relative;
}
.promo_section_content .discription {
  position: relative;
}
.promo_section_content .discription h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 18px;
  letter-spacing: 15.5px;
  line-height: 76px;
}
.promo_section_content .discription .subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #f7f8f3;
  padding-bottom: 50px;
  letter-spacing: 6.5px;
}
.promo_section_content .discription .button {
  display: flex;
  justify-content: flex-end;
}
.promo_section_content .discription .button button {
  width: 270px;
  text-align: center;
  height: 70px;
  border: 1px solid #9db892;
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald";
  background-color: transparent;
  color: #f7f8f3;
  padding: 0 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.promo_section_content .discription .button button .string {
  text-transform: uppercase;
  display: inline-block;
  height: 1px;
  width: 46px;
  background-color: #f7f8f3;
}
.promo_section_content .discription .button button .text {
  padding-right: 20px;
}
.promo_section_content .discription .button button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo_section_content .discription .button_little {
  display: flex;
  justify-content: flex-end;
}
.promo_section_content .discription .button_little a {
  color: #f7f8f3;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}
.promo_section_content .discription .button_little a .text {
  padding-right: 10px;
}
.promo_section_content .discription .button_little a:hover {
  transform: scale(1.1);
}

.abbout_us_section {
  background-color: #f7f8f3;
}
.abbout_us_section .lSPager {
  display: none;
}
.abbout_us_section .lSSlideOuter {
  position: relative;
  overflow: visible;
}
.abbout_us_section .lSSlideWrapper {
  position: static;
}
.abbout_us_section .lSAction > .lSPrev {
  left: unset;
  width: 40px;
  height: 40px;
  right: 51%;
  top: unset;
  bottom: -89px;
  background-image: url("../images/Left.png") !important;
  background-repeat: no-repeat;
  background-position: center;
}
.abbout_us_section .lSAction > .lSNext {
  width: 40px;
  height: 40px;
  left: 51%;
  top: unset;
  background-image: url("../images/Right.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -88px;
}
.abbout_us_section .slider_part {
  padding-bottom: 214px;
  background-color: #f7f8f3;
}
.abbout_us_section .slider_part .slider {
  height: 504px;
}
.abbout_us_section .slider_part .slider .slid_el {
  background-color: #fff;
  height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.abbout_us_section .slider_part .slider .slid_el .slider_body {
  padding: 27px 10px 0;
  border: 1px solid #ced6af;
  height: 430px;
}
.abbout_us_section .slider_part .slider .slid_el .slider_body .marks {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
}
.abbout_us_section .slider_part .slider .slid_el .slider_body .marks li {
  font-size: 24px;
  display: inline-block;
  color: #6e774a;
}
.abbout_us_section .slider_part .slider .slid_el .slider_body .prod_name {
  text-align: center;
  font-size: 18px;
  color: #1c1c1b;
  padding-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
.abbout_us_section .slider_part .slider .slid_el .slider_body .prod_img {
  display: flex;
  justify-content: center;
}
.abbout_us_section .slider_part .slider .slid_el .slider_body .prod_img .img img {
  width: 100%;
  height: 100%;
}
.abbout_us_section .slider_part .slider .slid_el .slide_footer {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  align-items: center;
  height: 75px;
  border-top: unset;
}
.abbout_us_section .slider_part .slider .slid_el .slide_footer .price {
  padding-left: 29px;
  display: flex;
  width: 69%;
  align-items: center;
  font-size: 18px;
  color: #1c1c1b;
  border: 1px solid #e1e1e1;
  height: 100%;
  word-spacing: 1px;
  letter-spacing: 2.5px;
}
.abbout_us_section .slider_part .slider .slid_el .slide_footer button {
  font-family: "Oswald", sans-serif;
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e774a;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease-in;
  padding: 0 10px;
}
.abbout_us_section .slider_part .slider .slid_el .slide_footer button .string {
  display: block;
  width: 45px;
  height: 1px;
  background-color: #fff;
}
.abbout_us_section .slider_part .slider .slid_el .slide_footer button .text {
  display: block;
  padding-right: 21px;
}
.abbout_us_section .slider_part .slider .slid_el .slide_footer button:hover {
  background-color: #9fb157;
}

.abbout_us_section_section_content {
  padding-top: 100px;
}
.abbout_us_section_section_content .what_we_are {
  border: 5px solid green;
  margin: 0 auto 110px;
  max-width: 690px;
  text-align: center;
}
.abbout_us_section_section_content .what_we_are h3 {
  color: #1c1c1b;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 24px;
}
.abbout_us_section_section_content .what_we_are .logos {
  padding: 0 75px 30px;
}
.abbout_us_section_section_content .what_we_are .logos img {
  width: 100%;
  height: 100%;
}
.abbout_us_section_section_content .tabs {
  padding-bottom: 160px;
}
.abbout_us_section_section_content .tabs .tabs_header {
  margin-bottom: 80px;
  max-width: 970px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ced6af;
}
.abbout_us_section_section_content .tabs .tabs_header li .tab_btn {
  display: inline-block;
  color: #1c1c1b;
  font-size: 30px;
  margin-right: 108px;
  padding-bottom: 14px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.abbout_us_section_section_content .tabs .tabs_header li .tab_btn::before {
  content: "";
  width: 100%;
  display: inline-block;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: transparent;
}
.abbout_us_section_section_content .tabs .tabs_header li .tab_btn.tab_active::before {
  background-color: #1c1c1b;
}
.abbout_us_section_section_content .tabs .tabs_header li .tab_btn:hover {
  color: rgba(28, 28, 27, 0.5);
}
.abbout_us_section_section_content .tabs .tab_el {
  display: flex;
  justify-content: space-between;
  display: none;
}
.abbout_us_section_section_content .tabs .tab_el.tab_active {
  display: flex;
}
.abbout_us_section_section_content .tabs .tab_el .text {
  padding-top: 34px;
  width: 34%;
}
.abbout_us_section_section_content .tabs .tab_el .text h3 {
  letter-spacing: 5px;
  font-size: 24px;
  color: #000;
  padding-bottom: 29px;
  line-height: 39px;
}
.abbout_us_section_section_content .tabs .tab_el .text p {
  word-spacing: 2px;
  color: #6e774a;
  font-size: 18px;
  padding-bottom: 38px;
  letter-spacing: 0;
  word-spacing: 1px;
  line-height: 40px;
}
.abbout_us_section_section_content .tabs .tab_el .text p:last-child {
  padding-bottom: 0;
}
.abbout_us_section_section_content .tabs .tab_el .images {
  width: 49%;
}
.abbout_us_section_section_content .tabs .tab_el .images .img {
  margin-bottom: 30px;
  display: flex;
}
.abbout_us_section_section_content .tabs .tab_el .images .img img {
  width: 100%;
  height: 100%;
}
.abbout_us_section_section_content .tabs .tab_el .images .img:last-child {
  margin-bottom: 0;
}
.abbout_us_section_section_content .h2 {
  padding-bottom: 74px;
  text-align: center;
}

.abbout_us_section_section_content_footer {
  padding-bottom: 150px;
}
.abbout_us_section_section_content_footer .h2 {
  padding-bottom: 40px;
}
.abbout_us_section_section_content_footer .asks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 630px;
  margin: 0 auto;
}
.abbout_us_section_section_content_footer .asks li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #eaedde;
  padding-top: 17px;
}
.abbout_us_section_section_content_footer .asks li .name {
  padding: 0 15px;
  max-height: 59px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6e774a;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.abbout_us_section_section_content_footer .asks li .name .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.abbout_us_section_section_content_footer .asks li .name .row .text {
  letter-spacing: 5px;
}
.abbout_us_section_section_content_footer .asks li .name .hidden_text {
  width: 100%;
  padding: 33px 0 0 70px;
  word-spacing: -1.9px;
  letter-spacing: 1px;
  line-height: 38px;
}
.abbout_us_section_section_content_footer .asks li .name.open {
  max-height: 500px;
}
.abbout_us_section_section_content_footer .asks li:first-child {
  border-top: 1px solid #eaedde;
}

.coments_section .lSPager {
  display: none;
}
.coments_section .lSSlideOuter {
  position: relative;
  overflow: visible;
}
.coments_section .lSSlideWrapper {
  position: static;
}
.coments_section .lSAction > .lSPrev {
  width: 130px;
  height: 100px;
  left: unset;
  right: 50%;
  transform: translate(-50%, 0);
  top: unset;
  bottom: -1px;
  background-image: url("../images/Left _w.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(7%);
  border: 1px solid #fff;
}
.coments_section .lSAction > .lSNext {
  width: 130px;
  height: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  top: unset;
  bottom: -1px;
  border: 1px solid #fff;
  background-image: url("../images/Right_w.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(7%);
}
.coments_section .lSPager {
  display: none;
}
.coments_section .slider {
  height: 800px !important;
  background-color: rgba(0, 0, 0, 0.3);
}
.coments_section .slider .slider_element {
  position: relative;
  padding-top: 252px;
  height: 800px !important;
  background-image: url("../images/coment background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.coments_section .slider .slider_element .slider_container {
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  width: 90%;
}
.coments_section .slider .slider_element .slider_container .marks {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.coments_section .slider .slider_element .slider_container .marks li {
  font-size: 24px;
  display: inline-block;
  color: #aab384;
}
.coments_section .slider .slider_element .slider_container .text {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 4px;
  word-spacing: 2.5px;
  line-height: 40px;
  padding-bottom: 20px;
}
.coments_section .slider .slider_element .slider_container .name {
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.coments_section .slider .slider_element .slider_container .name .string {
  height: 1px;
  width: 45px;
  display: inline-block;
  background-color: #fff;
  margin-right: 19px;
}
.coments_section .slider .slider_element .left_text {
  position: absolute;
  font-size: 24px;
  left: -2.1%;
  bottom: 0;
  height: 324px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 7px;
  color: #fff;
  text-transform: uppercase;
  transform: rotate(90deg);
  font-weight: 300;
  bottom: -8px;
}

.footer {
  font-weight: 400;
  background-color: #f7f8f3;
}

.footer_content {
  padding-top: 160px;
}
.footer_content .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60px;
  color: #6e774a;
  text-align: center;
  padding-bottom: 50px;
}
.footer_content .logo::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 32%;
  background-color: #6e774a;
}
.footer_content .logo::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 32%;
  background-color: #6e774a;
}
.footer_content .points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.footer_content .points .left, .footer_content .points .right {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.footer_content .points .left li, .footer_content .points .right li {
  transition: all 0.3s ease-in;
}
.footer_content .points .left li a, .footer_content .points .right li a {
  color: #6e774a;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 40px;
  transition: all 0.3s ease-in;
}
.footer_content .points .left li a:hover, .footer_content .points .right li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.footer_content .points .left li a:hover, .footer_content .points .right li a:hover {
  font-size: 20px;
}
.footer_content .points .center .soc_list {
  display: flex;
  justify-content: flex-start;
  max-width: 167px;
  margin: 0 auto;
  padding-bottom: 32px;
}
.footer_content .points .center .soc_list li {
  margin-right: 60px;
}
.footer_content .points .center .soc_list li a img {
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.footer_content .points .center .soc_list li a img:hover {
  transform: scale(1.3);
}
.footer_content .points .center .string {
  width: 1px;
  height: 55px;
  background-color: #6e774a;
  margin: 0 auto;
  margin-bottom: 23px;
}
.footer_content .points .center .input_title {
  font-size: 18px;
  color: #1c1c1b;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  padding-bottom: 20px;
}
.footer_content .points .center form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.footer_content .points .center form input {
  height: 60px;
  width: 75%;
  border: 2px solid #ced6af;
  padding-left: 30px;
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  color: #6e774a;
  border-right: unset;
  position: relative;
}
.footer_content .points .center form input::placeholder {
  color: #6e774a;
}
.footer_content .points .center form button {
  padding: 0 5px;
  height: 60px;
  width: 25%;
  border: 2px solid #ced6af;
  position: relative;
  border-left: unset;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.footer_content .points .center form button::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 50px;
  background-color: #ced6af;
  left: 0;
  top: 2.5px;
  transition: all 0.3s ease-in;
}
.footer_content .points .center form button:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-left: unset;
}
.footer_content .points .center form button:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.footer_content .points .center .author {
  text-align: center;
  font-size: 11px;
  color: #6e774a;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1170px) {
  .abbout_us_section_section_content .tabs .tab_el .text {
    width: 45%;
  }

  .abbout_us_section_section_content .tabs .tabs_header li .tab_btn {
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 1050px) {
  .abbout_us_section .slider_part .slider .slid_el .slide_footer button .text {
    padding-right: 10px;
  }

  .abbout_us_section .slider_part .slider .slid_el .slider_body .prod_name {
    letter-spacing: 0px;
  }

  .abbout_us_section_section_content .tabs .tabs_header li .tab_btn {
    letter-spacing: 1px;
    margin-right: 60px;
  }

  header .buttons .button button {
    padding: 0 16px;
  }
}
@media screen and (max-width: 900px) {
  .footer_content .points .center .input_title {
    letter-spacing: 0.5px;
  }

  .promo_section .left_text {
    left: -13%;
  }

  .coments_section .slider .slider_element .left_text {
    left: -6%;
  }

  .abbout_us_section_section_content .tabs .tab_el .text {
    padding-top: 0;
  }

  header .links li {
    padding-right: 21px;
  }

  header .links {
    padding-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  .promo_section_content .discription h1 {
    letter-spacing: 6px;
  }

  .footer_content .points .left li a, .footer_content .points .right li a {
    font-size: 16px;
  }

  .abbout_us_section_section_content .tabs .tabs_header li .tab_btn {
    font-size: 24px;
    font-weight: 400;
  }

  .abbout_us_section_section_content .tabs .tab_el .text p {
    padding-bottom: 20px;
  }

  .footer_content .points .left li a, .footer_content .points .right li a {
    letter-spacing: 1px;
  }

  header .buttons {
    flex-direction: column;
    overflow: hidden;
    max-height: 80px;
  }
  header .buttons .button {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 120px;
  }
  header .buttons .button button {
    width: 100%;
  }
  header .buttons .menu {
    background-color: unset;
    display: block;
    border-bottom: unset;
    border-right: unset;
  }
  header .buttons.opened {
    max-height: 600px;
    transition: all 0.3s ease-in;
  }

  header .links {
    padding-left: 0px;
  }
  header .links li {
    display: none;
  }
  header .links .mobile_menu_button {
    display: inline-block !important;
  }
  header.fixed .links li {
    display: none;
  }
  header.fixed .links .mobile_menu {
    height: 60px;
  }
  header.fixed .links .mobile_menu button {
    height: 60px;
  }
}
@media screen and (max-width: 700px) {
  .footer_content .points {
    grid-template-columns: 1fr;
  }
  .footer_content .points .left {
    grid-row-start: 1;
    grid-row-end: 1;
    padding-bottom: 40px;
  }
  .footer_content .points .left {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .footer_content .points .center {
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .footer_content .points .points {
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 400;
  }

  .footer_content .points .center .input_title {
    letter-spacing: 5px;
  }

  .abbout_us_section_section_content .tabs .tab_el.tab_active {
    flex-direction: column !important;
  }
  .abbout_us_section_section_content .tabs .tab_el.tab_active .text, .abbout_us_section_section_content .tabs .tab_el.tab_active .images {
    width: 100%;
  }

  .coments_section .lSAction > .lSNext, .coments_section .lSAction > .lSPrev {
    width: 100px;
    height: 70px;
  }
}
@media screen and (max-width: 650px) {
  .promo_section .left_text {
    display: none;
  }

  .coments_section .slider .slider_element .left_text {
    display: none;
  }

  .abbout_us_section_section_content_footer .asks li .name .text {
    letter-spacing: 2.5px;
  }

  .abbout_us_section_section_content .tabs .tabs_header {
    flex-direction: column;
    border: none;
    margin-bottom: 20px;
  }
  .abbout_us_section_section_content .tabs .tabs_header li a {
    border: unset;
  }
  .abbout_us_section_section_content .tabs .tabs_header li .tab_active {
    transform: scale(1.1);
    color: rgba(54, 51, 51, 0.7);
  }
  .abbout_us_section_section_content .tabs .tabs_header li .tab_active::before {
    content: unset;
  }

  .abbout_us_section_section_content .tabs {
    padding-bottom: 60px;
  }

  .abbout_us_section .slider_part {
    padding-bottom: 120px;
  }

  .abbout_us_section_section_content_footer {
    padding-bottom: 60px;
  }

  .abbout_us_section_section_content .tabs .tab_el .text p:last-child {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  .abbout_us_section_section_content_footer .asks li .name {
    max-height: 90px;
  }

  .h2 {
    margin-right: unset;
  }

  .promo_section_content .discription h1 {
    letter-spacing: 2px;
    font-size: 40px;
  }

  .promo_section_content .discription .subtitle {
    letter-spacing: 3.5px;
  }

  .coments_section .slider .slider_element .slider_container .text {
    word-spacing: 1px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 500px) {
  .promo_section_content .discription h1 {
    text-align: center;
  }

  .promo_section_content .discription .subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .footer_content .points .center .input_title {
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 320px) {
  body {
    transform: scale();
  }
}