* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu_shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    backdrop-filter: blure(3px);
}   
.open #mobile_menu_block{
    left: 0;
}

#mobile_Menu_block {
    position: fixed;
    top: 0;
    left: 110%;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    z-index: 100001;
    &.open {
        left: 0;
    }
}

.mobile_menu {
    li{
        border-bottom: 1px solid darkblue;
        a {
            display: inline-block;
            padding: 15px;
            font-size: 18px;
            text-decoration: none;
            text-transform: uppercase;
            color: #232323;
            width: 100%;
            line-height: 24px;
            &hover {
                background-color: darkblue;
                color: 232323;
            }
        }
    }
}