

@font-face {
  font-family: 'lusida sans';
  src: url('../fonts/ofont.ru_Lucida\ Sans\ Unicode.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'wether icons';
  src: url('../fonts/weathericons-regular-webfont.woff2') format('woff');
  src: url('../fonts/weathericons-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}